#welcome {
  width: 100%;
  height: 100vh;
  -webkit-app-region: drag;
  user-select: none;

  display: flex;
  align-items: center;
  justify-content: center;

  .welcome-wrap {
    -webkit-app-region: no-drag;
    width: 860px;
    margin: 0 auto;
    padding: 16px;
  }
}
