@import "~bootstrap/scss/bootstrap";

/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100vw;
  height: 100vh;
}
