/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */

body {
  position: relative;
  height: 100vh;
  overflow-y: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

#root {
  width: 100vw;
  height: 100vh;
}

.ant-layout {
  background-color: transparent;
}

.ant-layout.site-layout {
  padding-top: 56px;
  background-color: transparent;
}

.ant-layout-content.site-layout-content {
  padding: 24px 32px;
  overflow: initial;
}

.ant-layout-header.navigation {
  width: 100%;
  height: 56px;
  line-height: 56px;
  padding: 0 15px;
  position: fixed;
  z-index: 10;
  background-color: #fff;
  border-bottom: 1px solid #dadce0;

  .logo {
    float: left;
    height: 48px;
    margin-top: 8px;
  }
}

.ant-layout-sider.sidebar {
  height: calc(100vh - 56px);
  padding: 8px;
  overflow: auto;
  position: fixed;
  left: 0;
  top: 56px;
  z-index: 10;
  bottom: 0;
  background-color: transparent;

  .ant-menu.sidemenu {
    border-right: none;
    background-color: transparent;

    .ant-menu-item-divider {
      border-color: rgba(9, 30, 66, 0.15);
    }

    .ant-menu-item-group {
      position: relative;
      padding: 6px 0;

      .ant-menu-item-group-title {
        padding: 2px 0;
        font-size: 12px;
        color: rgba($color: #FFFFFF, $alpha: 0.5);
      }
    }

    .ant-menu-item {
      border-radius: 3px;
      margin: 2px 0;
      padding: 6px 10px;

      .react-icon {
        font-size: 16px;
      }

      .react-icon,
      .react-icon * {
        stroke: #fff;
      }

      a {
        color: inherit;
      }

      &.ant-menu-item:hover,
      &.ant-menu-item-active {
        color: rgb(255, 255, 255);
        background-color: rgba(255, 255, 255, 0.16);
      }

      &.ant-menu-item-selected {
        background-color: rgba(255, 255, 255, 0.08);
        color: rgb(255, 255, 255);

        &::before {
          content: "";
          position: absolute;
          height: 16px;
          width: 4px;
          left: 0px;
          top: 12px;
          background: rgb(255, 255, 255);
          border-radius: 0px 1.998px 1.998px 0px;
        }

        &::after {
          display: none;
        }
      }
    }
  }
}
